.content {
    @media (min-width: 0px) {
        &-wrapper {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
    }

    @media (min-width: 1100px) {
        &-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 67rem;
        }
    }

    @media (min-width: 0px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 10rem;
    }

    @media (min-width: 1100px) {
        flex-direction: row;
    }

    @media (min-width: 0px) {
        &__info {
            width: 100%;
        }
    }

    @media (min-width: 1100px) {
        &__info {
            width: 48%;
        }
    }

    @media (min-width: 0px) {
        &__info-headline {
            font-size: 6vw;
            margin-bottom: 1rem;
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase;
        }
    }

    @media (min-width: 1100px) {
        &__info-headline {
            font-size: 2.5rem;
        }
    }

    &__info-today {
        display: flex;
    }

    @media (min-width: 0px) {
        &__info-today-item {
            font-size: 0.8rem;
            font-weight: 500;
            color: #ffffff;

            &--date {
                margin-right: 1rem;
            }
        }
    }

    @media (min-width: 768px) {
        &__info-today-item {
            font-size: 1.3rem;
            font-weight: 500;
            color: #ffffff;

            &--date {
                margin-right: 1rem;
            }
        }
    }

    &__info-data {
        @media (min-width: 0px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @media (min-width: 768px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: -2rem;
        }

        @media (min-width: 0px) {
            &-temperature {
                display: inline-block;
                position: relative;
                font-size: 11rem;
                line-height: 11rem;
                font-weight: 700;
                color: #ffffff;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-top: 1rem;
                    margin-left: 0.5rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 0.4rem solid #ffffff;
                    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.2);
                }
            }
        }

        @media (min-width: 768px) {
            &-temperature {
                width: 60%;
                position: relative;
                font-size: 14rem;
                font-weight: 700;
                color: #ffffff;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 80%;
                    width: 2rem;
                    height: 2rem;
                    margin-top: 1rem;
                    margin-left: 0.5rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 0.4rem solid #ffffff;
                    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.2);
                }
            }

            &-temperature-icon {
                width: 2rem;
                height: 2rem;
                margin-top: 0;
                border: 0.5rem solid #ffffff;
            }
        }

        @media (min-width: 1100px) {
            &-temperature {
                display: flex;
                position: relative;
                margin-right: -2.5rem;
                padding-top: 2rem;
                font-size: 3rem;
                font-weight: 700;
                color: #ffffff;
            }

            &-temperature-icon {
                width: 3rem;
                height: 3rem;
                border: 0.1rem solid #ffffff;
            }
        }

        &-meteo {
            @media (min-width: 0px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }

            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 17rem;
            }

            @media (min-width: 1100px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @media (min-width: 0px) {
                &-icon {
                    width: 6rem;
                    height: 4rem;
                    margin-bottom: 1rem;
                    margin-right: 1.5rem;
                    background-image: url('../img/cloud-icon.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }

            @media (min-width: 768px) {
                &-icon {
                    align-self: center;
                    width: 6.5rem;
                    height: 4.5rem;
                    margin-bottom: 1rem;
                    background-image: url('../img/cloud-icon.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }

            @media (min-width: 1100px) {
                &-icon {
                    align-self: flex-start;
                    width: 3rem;
                    height: 2rem;
                    margin-left: -5rem;
                    margin-bottom: 1rem;
                    background-image: url('../img/cloud-icon.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }

            @media (min-width: 0px) {
                &-info {
                    display: flex;
                    flex-wrap: wrap;
                    width: auto;
                    align-self: flex-start;

                    &-item {
                        position: relative;
                        margin-top: 0.5rem;
                        margin-right: 1rem;
                        margin-bottom: 0.1rem;
                        font-weight: 600;
                        color: #ffffff;
                        line-height: 1rem;
                        text-transform: uppercase;
                        font-size: 0.8rem;

                        &:nth-child(2) {
                            margin-right: 1.5rem;
                        }

                        &:nth-child(3)::after {
                            content: " m/s";
                        }

                        &:nth-child(4)::after {
                            content: " %";
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            @media (min-width: 768px) {
                &-info {
                    display: flex;
                    align-self: flex-start;
                    justify-content: space-between;
                    margin-left: 0.3rem;
                    margin-bottom: 3rem;
                    width: 17rem;

                    &-item {
                        margin-bottom: 0.7rem;
                        padding: 0;
                        font-weight: 600;
                        color: #ffffff;
                        line-height: 1rem;
                        text-transform: uppercase;
                        font-size: 1rem;

                        &:last-child {
                            margin-bottom: 0.7rem;
                        }

                        &:nth-child(2)::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: -0.7rem;
                            width: 0.5rem;
                            height: 0.5rem;
                        }
                    }
                }
            }

            @media (min-width: 1100px) {
                &-info {
                    flex-direction: column;
                    align-self: flex-start;
                    margin-bottom: 3rem;

                    &-item {
                        align-self: flex-end;
                        flex-grow: none;
                        margin-right: 0;
                        margin-bottom: -1rem;
                        padding: 0;
                        font-weight: 600;
                        color: #ffffff;
                        line-height: 0;
                        text-transform: uppercase;
                        font-size: 0.8rem;
                        border: none;
                        box-shadow: none;
                        backdrop-filter: none;
                        width: 9rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:nth-child(2) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &__info-future {
        @media (min-width: 0px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 1rem;
            padding: 1rem;
            backdrop-filter: blur(0.3rem);
            border-radius: 5px;
        }

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1rem;
        }

        @media (min-width: 1100px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1rem;
            padding: 0;
            padding-top: 1rem;
            backdrop-filter: none;
            border: none;
        }

        @media (min-width: 0px) {
            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid #fafafa;

                &:last-child {
                    margin-bottom: -1rem;
                    border-bottom: none;
                }
            }
        }

        @media (min-width: 768px) {
            &-item {
                display: block;
                width: 11rem;
                border-bottom: none;
            }
        }

        @media (min-width: 0px) {
            &-data {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        @media (min-width: 1100px) {
            &-data {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        @media (min-width: 0px) {
            &-day {
                width: 13rem;
                margin-bottom: 1.3rem;
                color: #ffffff;
                font-weight: 700;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
            }
        }

        @media (min-width: 768px) {
            &-day {
                margin-bottom: 1.3rem;
                color: #ffffff;
                font-weight: 700;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
            }
        }

        @media (min-width: 0px) {
            &-temperature {
                position: relative;
                margin-left: 1rem;
                color: #ffffff;
                font-size: 2rem;
                font-weight: 700;

                &::before {
                    content: "";
                    position: absolute;
                    top: -0.2rem;
                    right: -0.7rem;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 0.1rem solid #ffffff;
                }
            }
        }

        @media (min-width: 768px) {
            &-temperature {
                position: relative;
                margin-left: 0;
                color: #ffffff;
                font-size: 3.5rem;
                font-weight: 700;

                &::before {
                    content: "";
                    position: absolute;
                    top: -0.5rem;
                    right: -1.3rem;
                    width: 1.2rem;
                    height: 1.2rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 0.25rem solid #ffffff;
                }
            }
        }

        @media (min-width: 1100px) {
            &-temperature {
                position: relative;
                margin-right: 0.5rem;
                color: #ffffff;
                font-size: 3.5rem;
                font-weight: 700;

                &::before {
                    content: "";
                    position: absolute;
                    top: -0.5rem;
                    right: -1.3rem;
                    width: 1.2rem;
                    height: 1.2rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 0.25rem solid #ffffff;
                }
            }
        }

        @media (min-width: 0px) {
            &-icon {
                width: 2.2rem;
                height: 1.2rem;
                margin-bottom: 0.7rem;
                margin-top: -1.2rem;
                margin-left: 1rem;
                background-image: url('../img/cloud-icon.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        @media (min-width: 768px) {
            &-icon {
                width: 3rem;
                height: 2rem;
                margin-bottom: 0.7rem;
                margin-top: -1.2rem;
                background-image: url('../img/cloud-icon.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }

    &__location {
        @media (min-width: 0px) {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 1rem;
            margin-bottom: 3rem;
            width: 100%;
        }

        @media (min-width: 1100px) {
            display: block;
            align-self: flex-end;
            margin-top: 0;
            margin-bottom: -1.3rem;
            width: 30rem;
        }

        @media (min-width: 0px) {
            &-map {
                width: 100%;
                height: 20rem;
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 5px;
            }
        }

        @media (min-width: 1100px) {
            &-map {
                width: 20rem;
                height: 20rem;
                margin-top: 0;
                margin-bottom: 1.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 25px 25px 0 0;
                clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 100% 100%, 92% 93%, 0 93%);
            }
        }

        &-data {
            @media (min-width: 0px) {
                display: flex;
                flex-direction: row;
            }

            @media (min-width: 1100px) {
                display: flex;
                flex-direction: column;
            }

            @media (min-width: 0px) {
                &-text {
                    margin-right: 0.7rem;
                    align-self: flex-end;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 0.8rem;
                }
            }

            @media (min-width: 768px) {
                &-text {
                    align-self: flex-end;
                    color: #ffffff;
                    font-weight: 500;
                }
            }

            @media (min-width: 1100px) {
                &-text {
                    margin-right: 0;
                    font-size: 1rem;
                }
            }

            &-dynamic-first {
                position: relative;
                margin-right: 0.8rem;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.2rem;
                    right: -0.5rem;
                    width: 0.4rem;
                    height: 0.4rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 0.1rem solid #ffffff;
                }
            }

            &-dynamic-second {
                position: relative;
                margin-right: 0.6rem;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.2rem;
                    right: -0.5rem;
                    width: 0.2rem;
                    height: 0.4rem;
                    background-color: #ffffff;
                }
            }
        }
    }
}

@media (min-width: 0px) {
    #map {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1100px) {
    #map {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}